
#canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: -webkit-linear-gradient(top,#ffdde1 0,#ee9ca7 120%);
    background: -moz-linear-gradient(top,#ffdde1 0,#ee9ca7 120%);
    background: -o-linear-gradient(top,#ffdde1 0,#ee9ca7 120%);
    background: -ms-linear-gradient(top,#ffdde1 0,#ee9ca7 120%);
    background: linear-gradient(top,#ffdde1 0,#ee9ca7 120%);
}